h1 {color: brown;
    text-align: center;
} /*brown 글자색, 텍스 정렬 center*/

body {background-color: aliceblue;
} /*<body>의 배경은 aliceblue*/

p {
    font-family: '휴먼편지체', sans-serif;
    font-size: 1em;
    text-indent: 1em;
} /*<p>의 텍스트는 휴먼편지체, 글자크기 1em, 들여쓰기 1em*/

.list {
    border: 1px dotted blueviolet;
    padding: 10px;
} /*<ul>은 1픽셀의 점선 테두리*/

a {
    text-decoration: none;
} /*<a>의 링크 장식 text-decoration을 none으로하여 밑줄을 없앰*/

h3 {
    text-shadow: 3px 3px 3px slateblue;
} /*<h3>에는 text-shadow 꾸밈*/

footer {
    border-radius: 10px; background-color: orange;   padding: 20px;
    width: 90%;
    margin: 20px auto;
    text-align: left;
} /*<footer>에는 오랜지 배경색에 동근 모서리 테두리*/